.logo {
    width: 50%;
    height: auto;
    margin-bottom: 10rem;
}

.logo-small {
    width: 25%;
    height: auto;
    margin-bottom: 2rem;
}


.landing {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 2rem;
}

.lobby {
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 2rem;
    /* width: 30%; */
}

.button-row {
    gap: 1rem;
    display: flex;
}

.text-input {
    /* width: 12rem; */
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.action-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #455048;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join-button {
    width: 100%;
}

.game-player-container {
    display: flex;
    gap: 1rem;
    /* background-color: red; */
}

.player {
    padding: 1rem;
    border: 1px solid #ccc;
}

.player-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: green; */
    gap: 1rem;
}

.player-description {
    margin: 0;
}

.player-container {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    /* background-color: grey; */
}

.location {
    border-left-width: 0.5rem;
    border-left-style: solid;
    /* padding: 0rem; */
    display: inline-block;
}

.error-box {
    padding: 1rem;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    background-color: #f8d7da;
    color: #721c24;
    margin-top: 1rem;
    display: flex;
}

.error-icon {
    color: #721c24;
    margin-right: 0.5rem;
}
